@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.firstline {
    width: 200px;
    height: 6px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: -200px;
    transform: translate(-50%, -50%);
    animation: FirstLineAnimation 1.75s forwards, pulsate 2s infinite;
    border-radius: 3px;
}

@keyframes FirstLineAnimation {
    0% {
        left: -200px;
    }
    100% {
        left: calc(50% - 2px);
    }
}

@keyframes pulsate {
    0% {
        opacity: 1;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
    50% {
        opacity: 0.5;
        box-shadow: 0 0 20px rgba(255, 255, 255, 1);
    }
    100% {
        opacity: 1;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
}

/* Second line */
.secondline {
    width: 200px;
    height: 6px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: -200px;
    transform: translate(-50%, -50%) rotate(90deg);
    animation: SecondLineAnimation 1.75s forwards, pulsate 2s infinite;
    border-radius: 3px;
}

@keyframes SecondLineAnimation {
    0% {
        top: -200px;
    }
    100% {
        top: calc(50% - 2px);
    }
}

/* Third line */
.thirdline {
    width: 100px;
    height: 4px;
    background-color: white;
    position: absolute;
    left: 45.5%;
    top: -200px;
    transform: translate(-50%, -50%) rotate(90deg);
    animation: ThirdLineAnimation 1.75s forwards, pulsate 2s infinite;
    border-radius: 2px;
}

@keyframes ThirdLineAnimation {
    0% {
        top: -200px;
    }
    100% {
        top: calc(50% - 2px);
    }
}

/* Fourth line */
.fourthline {
    width: 100px;
    height: 4px;
    background-color: white;
    position: absolute;
    left: 53%;
    bottom: -200px;
    transform: translate(-50%, -50%) rotate(90deg);
    animation: FourthLineAnimation 1.75s forwards, pulsate 2s infinite;
    border-radius: 2px;
}

@keyframes FourthLineAnimation {
    0% {
        bottom: -200px;
    }
    100% {
        bottom: calc(50% - 2px);
    }
}

/* Fifth line */
.fifthline {
    width: 35px;
    height: 6px;
    background-color: white;
    position: absolute;
    left: 55%;
    bottom: -200px;
    transform: translate(-50%, -50%) rotate(90deg);
    animation: FifthLineAnimation 1.75s forwards, pulsate 2s infinite;
    border-radius: 3px;
}

@keyframes FifthLineAnimation {
    0% {
        bottom: -200px;
    }
    100% {
        bottom: calc(52.5% - 2px);
    }
}

/* Sixth line */
.sixthline {
    width: 50px;
    height: 4px;
    background-color: white;
    position: absolute;
    left: 47%;
    bottom: -200px;
    transform: translate(-50%, -50%) rotate(90deg);
    animation: SixthLineAnimation 1.75s forwards, pulsate 2s infinite;
    border-radius: 2px;
}

@keyframes SixthLineAnimation {
    0% {
        bottom: -200px;
    }
    100% {
        bottom: calc(45.8% - 2px);
    }
}

/* Seventh line */
.seventhline {
    width: 60px;
    height: 6px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: -200px;
    transform: rotate(0deg);
    transform: translate(-50%, -50%);
    animation: SeventhLineAnimation 1.75s forwards, pulsate 2s infinite;
    border-radius: 3px;
}

@keyframes SeventhLineAnimation {
    0% {
        left: -200px;
        top: calc(50% + 20px)
    }
    100% {
        left: calc(54% - 2px);
        top: calc(50% + 50px);
    }
}

.splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: 200;
    color: white;
    text-align: center;
    line-height: 90vh;
}

.splash.display-none{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: -10;
    color: white;
    text-align: center;
    line-height: 90vh;
    transition: all 0.5s;
}

@keyframes fadeIn {
    to {
        opacity:1;
    }
}

.fade-in{
    opacity:0;
    animation: fadeIn 2s ease-in forwards;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #9b59b6, #3498db);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.container {
    max-width: 800px;
    margin: 200px auto;
    padding: 40px;
    text-align: left;
}

h1 {
    font-weight: 700;
    margin-bottom: 20px;
    animation: slide-in-left 1s ease;
}

p {
    font-size: 18px;
    margin-bottom: 40px;
    animation: slide-in-left 1.2s ease;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    animation: slide-in-left 1.4s ease;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
}

.btn i {
    margin-right: 8px;
}

.logout-btn {
    background-color: #e74c3c;
}

.logout-btn:hover {
    background-color: #c0392b;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Styles for login page */
.login-page {
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

    body {
        font-family: 'Quicksand', sans-serif;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        overflow: hidden;
        background: linear-gradient(135deg, #9b59b6, #3498db);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    }

    .form {
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        padding: 30px;
        animation: fadeIn 1s ease-in-out;
        max-width: 300px; /* Adjust maximum width of the form */
        width: 100%; /* Make the form responsive */
        margin: 220px auto; /* Center the form */
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        animation: slideInDown 1s ease-in-out;
    }

    .input-box {
        position: relative;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
    }

    .input-box input {
        width: 75%;
        padding: 10px 30px;
        font-size: 1rem;
        border: none;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.7);
        color: #333;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease-in-out;
    }

    .input-box input:focus {
        outline: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .input-box input[type="submit"] {
        background-color: #fff;
        color: #9b59b6;
        cursor: pointer;
        font-weight: bold;
        transition: transform 0.3s ease-in-out;
        width: auto;
    }

    .input-box input[type="submit"]:hover {
        transform: translateY(-5px);
    }

    a {
        display: block;
        text-align: center;
        color: #fff;
        text-decoration: none;
        margin-top: 1rem;
        transition: color 0.3s ease-in-out;
    }

    a:hover {
        color: #f1c40f;
    }

    @keyframes slideInDown {
        0% {
            transform: translateY(-100%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}

/* Styles for register page */
.register-page {
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

    body {
        font-family: 'Quicksand', sans-serif;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        overflow: hidden;
        background: linear-gradient(135deg, #9b59b6, #3498db);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    }

    .form {
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        padding: 30px;
        animation: fadeIn 1s ease-in-out;
        max-width: 300px; /* Adjust maximum width of the form */
        width: 100%; /* Make the form responsive */
        margin: 220px auto; /* Center the form */
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        animation: slideInDown 1s ease-in-out;
    }

    .input-box {
        position: relative;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
    }

    .input-box input {
        width: 75%;
        padding: 10px 30px;
        font-size: 1rem;
        border: none;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.7);
        color: #333;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease-in-out;
    }

    .input-box input:focus {
        outline: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .input-box input[type="submit"] {
        background-color: #fff;
        color: #9b59b6;
        cursor: pointer;
        font-weight: bold;
        transition: transform 0.3s ease-in-out;
        width: auto;
    }

    .input-box input[type="submit"]:hover {
        transform: translateY(-5px);
    }

    a {
        display: block;
        text-align: center;
        color: #fff;
        text-decoration: none;
        margin-top: 1rem;
        transition: color 0.3s ease-in-out;
    }

    a:hover {
        color: #f1c40f;
    }

    @keyframes slideInDown {
        0% {
            transform: translateY(-100%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}

/* Styles for the home page */
.home-page {
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

    body {
        font-family: 'Quicksand', sans-serif;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        overflow: hidden;
        background: linear-gradient(135deg, #9b59b6, #3498db);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    }

    .container {
        max-width: 800px;
        margin: 100px auto;
        padding: 40px;
        text-align: left;
    }

    h1 {
        font-weight: 700;
        margin-bottom: 20px;
        animation: slide-in-left 1s ease;
    }

    .button-container {
        display: flex;
        flex-wrap: wrap;
        animation: slide-in-left 1.4s ease;
    }

    .btn {
        display: inline-block;
        padding: 12px 24px;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        color: #fff;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 4px;
        transition: background-color 0.3s ease, transform 0.3s ease;
        margin: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .btn:hover {
        background-color: rgba(255, 255, 255, 0.3);
        transform: scale(1.05);
    }

    .btn i {
        margin-right: 8px;
    }

    @keyframes slide-in-left {
        0% {
            transform: translateX(-100%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}

.error-page {
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

    body {
        font-family: 'Quicksand', sans-serif;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        overflow: hidden;
        background: linear-gradient(135deg, #9b59b6, #3498db);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    }

    .container {
        max-width: 800px;
        margin: 100px auto;
        padding: 40px;
        text-align: left;
    }

    h1 {
        font-weight: 700;
        margin-bottom: 20px;
        animation: slide-in-left 1s ease;
    }

    .button-container {
        display: flex;
        flex-wrap: wrap;
        animation: slide-in-left 1.4s ease;
    }

    .btn {
        display: inline-block;
        padding: 12px 24px;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        color: #fff;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 4px;
        transition: background-color 0.3s ease, transform 0.3s ease;
        margin: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .btn:hover {
        background-color: rgba(255, 255, 255, 0.3);
        transform: scale(1.05);
    }

    .btn i {
        margin-right: 8px;
    }

    @keyframes slide-in-left {
        0% {
            transform: translateX(-100%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}