@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #9b59b6, #3498db);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    text-align: left;
}

h1 {
    font-weight: 700;
    margin-bottom: 20px;
    animation: slide-in-left 1s ease;
}

p {
    font-size: 18px;
    margin-bottom: 40px;
    animation: slide-in-left 1.2s ease;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    animation: slide-in-left 1.4s ease;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
}

.btn i {
    margin-right: 8px;
}

.logout-btn {
    background-color: #e74c3c;
}

.logout-btn:hover {
    background-color: #c0392b;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Styles for login page */
.login-page {
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

    body {
        font-family: 'Quicksand', sans-serif;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        overflow: hidden;
        background: linear-gradient(135deg, #9b59b6, #3498db);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    }

    .form {
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        padding: 30px;
        animation: fadeIn 1s ease-in-out;
        max-width: 300px; /* Adjust maximum width of the form */
        width: 100%; /* Make the form responsive */
        margin: 220px auto; /* Center the form */
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        animation: slideInDown 1s ease-in-out;
    }

    .input-box {
        position: relative;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
    }

    .input-box input {
        width: 75%;
        padding: 10px 30px;
        font-size: 1rem;
        border: none;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.7);
        color: #333;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease-in-out;
    }

    .input-box input:focus {
        outline: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .input-box input[type="submit"] {
        background-color: #fff;
        color: #9b59b6;
        cursor: pointer;
        font-weight: bold;
        transition: transform 0.3s ease-in-out;
        width: auto;
    }

    .input-box input[type="submit"]:hover {
        transform: translateY(-5px);
    }

    a {
        display: block;
        text-align: center;
        color: #fff;
        text-decoration: none;
        margin-top: 1rem;
        transition: color 0.3s ease-in-out;
    }

    a:hover {
        color: #f1c40f;
    }

    @keyframes slideInDown {
        0% {
            transform: translateY(-100%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}

/* Styles for login page */
.register-page {
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

    body {
        font-family: 'Quicksand', sans-serif;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        overflow: hidden;
        background: linear-gradient(135deg, #9b59b6, #3498db);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    }

    .form {
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        padding: 30px;
        animation: fadeIn 1s ease-in-out;
        max-width: 300px; /* Adjust maximum width of the form */
        width: 100%; /* Make the form responsive */
        margin: 220px auto; /* Center the form */
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        animation: slideInDown 1s ease-in-out;
    }

    .input-box {
        position: relative;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
    }

    .input-box input {
        width: 75%;
        padding: 10px 30px;
        font-size: 1rem;
        border: none;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.7);
        color: #333;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease-in-out;
    }

    .input-box input:focus {
        outline: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .input-box input[type="submit"] {
        background-color: #fff;
        color: #9b59b6;
        cursor: pointer;
        font-weight: bold;
        transition: transform 0.3s ease-in-out;
        width: auto;
    }

    .input-box input[type="submit"]:hover {
        transform: translateY(-5px);
    }

    a {
        display: block;
        text-align: center;
        color: #fff;
        text-decoration: none;
        margin-top: 1rem;
        transition: color 0.3s ease-in-out;
    }

    a:hover {
        color: #f1c40f;
    }

    @keyframes slideInDown {
        0% {
            transform: translateY(-100%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}