<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Create New Product</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERd`knLPMO" crossorigin="anonymous">
</head>
<body>

<div class="container">

    <form th:action="@{/game/create}" th:object="${gameForm}" method="post">
        <table class="table">
            <tr>
                <th>
                    <h3>Create New Product</h3>
                </th>
                <th></th>
            </tr>
            <tr class="form-group">
                <td><label for="nameInput">Name</label></td>
                <td><input th:field="*{name}" type="text" class="form-control" id="nameInput" placeholder="Enter game's name"></td>
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Title Error</td>
            </tr>
            <tr class="form-group">
                <td><label for="priceInput">Price</label></td>
                <td><input th:field="*{price}" type="text" class="form-control" id="priceInput" placeholder="Enter game's price"></td>
                <td th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</td>
            </tr>
            <tr class="form-group">
                <td><label for="quantityInput">Quantity</label></td>
                <td><input th:field="*{quantity}" type="text" class="form-control" id="quantityInput" placeholder="Enter game's quantity"></td>
                <td th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">Quantity Error</td>
            </tr>
            <tr class="form-group">
                <td><label for="descriptionInput">Description</label></td>
                <td><input th:field="*{description}" type="text" class="form-control" id="descriptionInput" placeholder="Enter game's description"></td>
                <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</td>
            </tr>
            <tr class="form-group">
                <td><label for="categorySelect">Category</label></td>
                <td><select th:field="*{category}" id="categorySelect" class="form-select">
                    <option th:each="option : ${categoryOptions}"
                            th:value="${option.value}"
                            th:text="${option.label}">
                    </option>
                </select></td>
                <td th:if="${#fields.hasErrors('category')}" th:errors="*{category}">Name Error</td>
            </tr>
        </table>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>