<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Personal user page</title>
</head>
<body>
<h1>Welcome to your Personal Page! <span th:text="${authenticated.username}"></span></h1>
<p th:text="${authenticated.balance}"></p>
<a href="/game/list">Full Game List</a>
<a th:if="${authenticated.is_seller}" href="/game/list/personal">Personal Game List</a>
<a href="/topUp">Top Up</a>
<a href="/logout">Logout User</a>
<form th:if="${not authenticated.is_seller}" th:action="@{/change-role}" method="post">
    <button type="submit" class="btn btn-primary btn-sm mb-3">Change Role</button>
</form>
</body>
</html>